.title{
  float:left;
}
.guide{
  float:right;
}
header{
  background:url(http://static-dc.autodesk.net/content/dam/autodesk/www/homepage/banners/subscription/subscription-fy15-desktop-banner-1240x384.jpg);
}
